.block {
  background:#fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -4px;
  padding: 0;
  text-align: center;
  width: 20px;
  display: inline-block;
}

.snake {
  background: rgb(49, 32, 32);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -4px;
  padding: 0;
  text-align: center;
  width: 20px;
  display: inline-block;
}

.food {
  background: rgb(241, 5, 5);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -4px;
  padding: 0;
  text-align: center;
  width: 20px;
  display: inline-block;
}
